<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Leere Seite</title>
		<div th:include="components/imports :: import"></div>
	</head>
	<body>
		<!-- Header -->
		<div th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" th:text="${page.title}"></a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div
						class="collapse navbar-collapse"
						id="navbarSupportedContent"
					>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li
								class="nav-item"
								th:each="element: ${page.navbarElements}"
							>
								<a
									class="nav-link"
									th:classappend="${element.active ? 'active' : ''}"
									th:href="${element.url}"
									th:text="${element.name}"
								></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!-- Foooter -->
		<div th:fragment="footer" class="bg-dark fixed-bottom">
			<footer class="py-3">
				<div
					class="hstack gap-2 text-center position-relative start-50"
				>
					<a
						class="btn btn-dark"
						target="_blank"
						href="https://twitter.com/Virus_mc2"
						><i class="bi bi-twitter"></i> Twitter</a
					>
					<a
						class="btn btn-dark"
						target="_blank"
						href="https://github.com/VirusMc"
						><i class="bi bi-github"></i> GitHub</a
					>
				</div>
			</footer>
		</div>
	</body>
</html>
