<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${page.title}"></title>
		<div th:include="components/imports :: import"></div>
	</head>
	<body>
		<div
			th:if="${page.navbarElements != null}"
			th:replace="components/empty :: header"
		></div>
		<div
			data-bs-spy="scroll"
			data-bs-target="#header-nav"
			data-bs-root-margin="0px 0px -40%"
			data-bs-smooth-scroll="true"
			class="scrollspy-example"
			tabindex="0"
		>
			<ul class="list-group">
				<li class="list-group-item">
					<h1 id="general">Allgemeine Informationen</h1>
					<table class="table">
						<tbody>
							<tr>
								<th>Name</th>
								<td
									th:utext="${page.title} + '<br/> ' + ${page.catchPhrase}"
								></td>
							</tr>
							<tr>
								<th>Adresse</th>
								<td th:utext="${page.address}"></td>
							</tr>
							<tr>
								<th>Telefonnummer</th>
								<td th:text="${page.telephone}"></td>
							</tr>
							<tr>
								<th>Betrieb</th>
								<td th:text="${page.industry}"></td>
							</tr>
						</tbody>
					</table>
				</li>
			</ul>
		</div>
		<div th:replace="components/empty :: footer"></div>
	</body>
</html>
