<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Wähle ein Thema aus!</title>
		<div th:include="components/imports :: import"></div>
	</head>
	<body>
		<div
			th:if="${page.navbarElements != null}"
			th:replace="components/empty :: header"
		></div>
		<div class="text-center">
			<h1 class="my-3">Wähle ein Thema aus!</h1>
			<form class="d-flex justify-content-center" role="search">
				<div class="row">
					<div class="col-auto">
						<input
							class="form-control me-2"
							type="search"
							placeholder="Search"
							aria-label="Search"
						/>
					</div>
					<div class="col">
						<button class="btn btn-outline-success" type="submit">
							Search
						</button>
					</div>
				</div>
			</form>
			<div class="row row-cols-2 row-cols-lg-3 mx-5 mt-3">
				<div
					th:each="content: ${page.cards}"
					class="col"
					th:id="'generate' +  ${content.title}"
				>
					<div class="card my-4">
						<img
							th:alt="${content.img.alt}"
							class="card-img-top"
							th:src="${content.img.src}"
						/>
						<div class="card-body">
							<h5
								class="card-title"
								th:text="${content.title}"
							></h5>
							<p
								class="card-text"
								th:text="${content.description}"
							></p>
							<a
								href=""
								class="btn btn-primary"
								th:text="'Generate ' + ${content.title}"
								th:href="${content.url}"
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="components/empty :: footer"></div>
	</body>
</html>
